.top_a{
    display: flex;
    justify-content: space-between;
    margin: 0 auto; 
}

.top_log img{
    margin-left: 200px;
}
.top_contact_us img{
    width: 25px;
    background-color: #6eb92b;
    border-radius: 100%;
}
.top_contact_us{
    margin-right: 200px;
}
.top_navi_a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    padding: 4px;
}
.top_navi{
    background-color: #6eb92b;
    
}

.top_navi_home :hover{
    cursor: pointer;
    background-color: chocolate;
    } 

.top_navi_store :hover{
    cursor: pointer;
    background-color: chocolate;
}
.top_navi_store img{
    width: 25px;
}

.top_navi_ns :hover{
    cursor: pointer;
    background-color: chocolate;
}
.top_navi_ns img{
    width: 25px;
}

.top_navi_enterprise_info :hover{
    cursor: pointer;
    background-color: chocolate;
}
.top_navi_enterprise_info img{
    width: 23px;
}

.top_navi_ir :hover{
    cursor: pointer;
    background-color: chocolate;
}
.top_navi_ir img{
    width: 25px;
}

.top_navi_recruit :hover{
    cursor: pointer;
    background-color: chocolate;
}
.top_navi_recruit img{
    width: 25px;
}

.swiper_slide{
    display: flex;
    align-items: center;
}
.swiper-slide img{
    width: 980px;
}
.main{
    background-color: antiquewhite;
}
.main_topics_tema{
    width: 70%;
    margin: auto;
    border-bottom: 3px solid #6eb92b;
    font-size: 20px;
}
.main_topics_image{
    width: 70%;
    display: flex;
    margin: auto;
    padding: 20px;
}
.main_topics_images{
    width: 70%;
    display: flex;
    margin: auto;
    padding: 20px;
}
.main_container_line{
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 70%;
}

.main_container_line-item {
    width: 100%;
    margin: 10px;
    background-color: #F08C02;
    
}

/* /*疑似要素 */
.main_container_line-item img {
    width: 100%;
}

.main_container_line-item a:hover {
    cursor: pointer;
    color: #ee981f;
}

.main_container_line-item a{
    text-decoration: none;
    color:white;
    text-align: center;
    font-weight: bold;
}


